        <section class="feature-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 feature">
                        <img src="../Models/hosting2019/img/feature-icons/1.png" alt="#">
                        <h4>@ViewBag.indepedanttitle</h4>
                        <p>@ViewBag.indepedant</p>
                    </div>
                    <div class="col-md-4 feature">
                        <img src="../Models/hosting2019/img/feature-icons/2.png" alt="#">
                        <h4> @ViewBag.dellhptitle</h4>
                        <p>@ViewBag.dellhp</p>
                    </div>
                    <div class="col-md-4 feature">
                        <img src="../Models/hosting2019/img/feature-icons/3.png" alt="#">
                        <h4>@ViewBag.Replicationtitle</h4>
                        <p>@ViewBag.Replication</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="Services-section spad set-bg" data-setbg="../Models/hosting2019/img/service-bg.jpg">
            <div class="container">
                <div class="section-title text-white">
                    <p>Explication de nos services</p>
                    <h2>Services</h2>
                </div>
                <div class="row services-circle">
                    <div class="col-lg-5 col-md-6">
                        <ul class="service-list service-list-left text-white">
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/1.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Prix compétitifs</h4>
                                    <p>Vous ne pourrez pas trouver un tel service avec ces prix ailleurs.</p>
                                </div>
                            </li>
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/2.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Le client est roi</h4>
                                    <p>Nous écoutons les exigeances de nos clients pour l'expérience la plus satisfaisante possible.</p>
                                </div>
                            </li>
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/3.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Temps de livraison</h4>
                                    <p>Aucun robot, aucun soucis. Vos commandes sont traitées et livrées par nos bénévoles</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 offset-lg-2 col-md-6">
                        <ul class="service-list service-list-right text-white">
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/4.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Serveurs VPS de qualité</h4>
                                    <p>Nous vous proposons des serveurs avec RAM dédiée, ipv4 et ipv6 rien que pour vous.</p>
                                </div>
                            </li>
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/5.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Serveur dédié</h4>
                                    <p>Profitez de nos serveurs dédiés super puissants afin de bénéficier d'une puissance de calcul hors norme.</p>
                                </div>
                            </li>
                            <li>
                                <div class="sl-icon">
                                    <img src="../Models/hosting2019/img/service-icons/6.png" alt="">
                                </div>
                                <div class="sl-content">
                                    <h4>Un projet déclaré ?</h4>
                                    <p>Aucun soucis ! Pour tout projet déclaré le demandant, vous pouvez bénéficier de toutes nos offres bénévolement !</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="service-main-circle">
                        <img src="../Models/hosting2019/img/service-circle-pic.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="about-section spad">
            <div class="container">
                <div class="section-title">
                    <p></p>
                    <h2>Ouverture officielle</h2>
                </div>
                <div class="row">
                    <div class="col-lg-5 about-img">
                        <img src="../Models/hosting2019/img/about.png" alt="">
                    </div>
                    <div class="col-lg-7 about-text">
                        <p>Nous sommes officiellement ouvert ! Nous vous proposons actuellement tout ces services : </p>
                        <ul class="about-list">
                            <li>Achat de VPS</li>
                            <li>Achat d'instance WEB</li>
                            <li>Location de Serveur dédié (Pas encore mais très bientôt !)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section end -->
        <!-- Milestones section -->
        <section class="milestones-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="milestone-icon">
                            <img src="../Models/hosting2019/img/milestone-icons/1.png" alt="">
                        </div>
                        <div class="milestone-text text-white">
                            <h2>3</h2>
                            <p>Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="milestone-icon">
                            <img src="../Models/hosting2019/img/milestone-icons/2.png" alt="">
                        </div>
                        <div class="milestone-text text-white">
                            <h2>5</h2>
                            <p>Domaines</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="milestone-icon">
                            <img src="../Models/hosting2019/img/milestone-icons/3.png" alt="">
                        </div>
                        <div class="milestone-text text-white">
                            <h2>4</h2>
                            <p>Etoiles</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="milestone-icon">
                            <img src="../Models/hosting2019/img/milestone-icons/4.png" alt="">
                        </div>
                        <div class="milestone-text text-white">
                            <h2>5</h2>
                            <p>VPS</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-section set-bg" data-setbg="../Models/hosting2019/img/banner-bg.jpg">
            <div class="container">
                <div class="banner-card">
                    <h2>Aider le projet @ViewBag.Project !</h2>
                    <h6>Petit ou gros don, chaqun sont importants. Merci beaucoup.</h6>
                    <a href="http://redirect.synhostinger.com/external.aspx?url=paypal.me/synhostinger" class="site-btn sb-c3">Faire un don</a>
                </div>
            </div>
        </section>
